@import "./_variables";

//***********************************GLOBAL*********************************

.fa-angles-down{
  font: var(--fa-font-solid);
  
content: "\f103"
}

.rightbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-white;
  
}
#rightbar{
  color: $color-white;
  background: transparent;
  font-size: 24px;
 }


//*******************************Buttons**************************
#showButton {
  color: $color-white;
    background-color: transparent;
    font-size: 24px;
    border: none;
    outline: none;
 
  }
  #showButton:hover {
    color: $font-color-hover;
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
   }
  .rotate {
    transform: rotate(180deg);
  }
  .scrollToTop{
    text-align:center; 
    color: $background-color-primary;
    background-color: $color-white;
    border-radius: 50%;
    position:fixed;
    bottom:75px;
    right: 5px;
    display:none;
    border: none;
    font-size: 30px;
    
  }
  .scrollToTop:hover{
       text-decoration:none;
       color: $font-color-hover;
    animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

//***********************************TOP*********************************

.topnav {
  @include display-row();
  align-items: flex-start;
  align-content: flex-start;
  
  width: 100vw;
  color: $color-white;
  background: transparent;
  font-size: 24px;
  font-family: $font-family-nav;
  padding-inline: 1.5em;
   position: fixed;
   top: 0;
   z-index: 100;
}


header{
  height: auto;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $background-color-primary;
}
//***********************************BODY*********************************
main{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-width: 70%; 
height: auto; 
background-color: background-color-wp;
text-align: center;
gap: 10px 20px;
}




body {
  min-width: 300px;
  color: #545149;
  background-color: background-color-wp;
   font-size: 24px;
   height: auto;
   font-family: 'Source Sans Pro', sans-serif;
}

//***********************************RESPONSIVE*********************************

// in mobile version topnav do not stay when scrolling
@media only screen and (max-width: 400px) {
  .topnav {
  display: none
  }
  header{
  display: none;
  }
}
@media only screen and (max-width: 1024px) {
  main{
       left:5%;
    right: 5%;
    max-width: 90%; 
   position: relative; 

  }

  #profilePicture{
    width: 100px;
    height:100px;
  }
}
  // desktop version topnav stay on top
@media only screen and (min-width: 1024px) {
  .topnav {
    align-items: flex-end;
    height: 120px;
    align-content: flex-end;
    background-color: $background-color-primary;
    z-index: 100;
  }
  body {
    display: flex;
  flex-flow: column;
  padding-top: 120px;
}

header{
  height: 400px;
  width: 30%;
  float: left;
  margin-top: 250px;
  margin-left: 50px;
  border-radius: 10%;
}

}

