@import "./_variables";

// *********************************Style for Tweets and Buttons

.errorMessage {
  display: flex;
  align-items: center;
   width: 90%;
  font-family: 'Bungee', cursive;
  color: $font-color-danger;
  background : $background-color-wp;
  text-align : center;
   border     : 2px dotted $font-color-danger;
  display    : none;
}




  .new-tweet {
    background-color: transparent;
     border: none;
    font-size: 14px;
    height: auto;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif;
    }

#tweetlist{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  width: 100%;
  
}
#targettweet{
  width: 100%;
  
}

.tweetbox{

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  left:5%;
  right: 5%;
  width: 90%;
  font-size: 24px;
    color: $font-color-black;
  background: transparent;
  border: 3px solid $font-color-black;
  outline: none;
   
}
.tweetbox:hover {
  box-shadow: 5px 10px #888888
}

.tweetcounter{
  @include display-row();
  align-items: center;
  width: 95%;
  font-family: 'Bungee', cursive;
  color: $font-color-black;
}

// button for new tweets
.tweetbutton{
  font-family: 'Bungee', cursive;
  font-size: 14px;
  height: auto;
  color: color-white;
  background-color: $background-color-primary;
}
#addTweet{
  margin-left: 5%
}
#addTweet:hover{
  color: $font-color-hover
}


#tweet-text{
margin-top: 50px;
  width: 90%;
  font-size: 24px;
    color: $font-color-black;
  background: transparent;
  border: none;
  border-bottom: 3px solid $font-color-black;
  outline: none;
}
.tweetfooter{
  @include display-row();
    align-items: baseline;
  font-family: 'Source Sans Pro', sans-serif;
  color: $font-color-black;
  font-size: 14px;
  padding-inline: 1.5em;
}
.tweethead{
  @include display-row();
  align-items: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  color: $font-color-black;
  font-size: 14px;
  padding-inline: 1.5em;
}
.tweetbody {
  display: flex;
  align-self: center;
  font-size: 20px;
  color: $font-color-black;
  background: transparent;
  border: none;
  border-bottom: 3px solid $font-color-black;
  outline: none;
  padding-inline: 1.5em;
   width:95%;
   /* position: relative; */
}

.social:hover{
  color: $font-color-hover
}
