/* .nav{
  display: flex;
  flex-direction: row;
} */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  align-content: flex-end;
  
  width: 100vw;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
   /* font-family: Helvetica, arial , sans-serif; */
   /* font-family: 'Source Sans Pro', sans-serif; */
   font-family: 'Bungee', cursive;
   left: 1.5em + safe;
   position: fixed;
   top: 0;
   z-index: 100;
}
.rightbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  /* margin: 1.5em; */
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  
}
#rightbar{
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  padding-right: 1.5em;
}

.fa-angles-down{
    font: var(--fa-font-solid);
    
  content: "\f103"
}
.scrollToTop{
  text-align:center; 
  background-color: white;
  border-radius: 50%;
  position:fixed;
  bottom:75px;
  right:40px;
  display:none;
  border: none;
  font-size: 30px;
}
.scrollToTop:hover{
  text-decoration:none;
  color: #ff0000;
}