.errorMessage {
  display: flex;
  align-items: center;
  width: 90%;
  font-family: "Bungee", cursive;
  color: #f05432;
  background: #D0C9C0;
  text-align: center;
  border: 2px dotted #f05432;
  display: none;
}

#tweet-text {
  margin-top: 50px;
  width: 90%;
  font-size: 24px;
  color: #354259;
  background: transparent;
  border: none;
  border-bottom: 3px solid #354259;
  outline: none;
}

.tweetcounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-family: "Bungee", cursive;
  color: #354259;
}

.tweetbutton {
  font-family: "Bungee", cursive;
  font-size: 14px;
  height: auto;
  color: color-white;
  background-color: #6D8B74;
}

#targettweet {
  width: 100%;
}

.tweetbox {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  left: 5%;
  right: 5%;
  width: 90%;
  font-size: 24px;
  color: #354259;
  background: transparent;
  border: 3px solid #354259;
  outline: none;
}

.tweetbox:hover {
  box-shadow: 5px 10px #888888;
}

.tweetfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
  color: #354259;
  font-size: 14px;
  padding-inline: 1.5em;
}

.tweethead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: flex-start;
  align-items: flex-end;
  font-family: "Source Sans Pro", sans-serif;
  color: #354259;
  font-size: 14px;
  padding-inline: 1.5em;
}

.tweetbody {
  display: flex;
  align-self: center;
  text-align: start;
  font-size: 20px;
  color: #354259;
  background: transparent;
  border: none;
  border-bottom: 3px solid #354259;
  outline: none;
  padding-inline: 1.5em;
  width: 95%;
}

.new-tweet {
  background-color: transparent;
  border: none;
  font-size: 14px;
  height: auto;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

#tweetlist {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  width: 100%;
}

#addTweet {
  margin-left: 5%;
}

#addTweet:hover {
  color: #b6ffbf;
}

.social:hover {
  color: #b6ffbf;
}
